html, body, .container, .content {
    height: 100%;
    background-color: #eff0f2;
}

h2, .h2 {
  font-size: 30px;
  margin: 0;
}

@media only screen 
and (min-width : 50px) {
  .flip {
    width: 30%;
    height: 50px;
  }
}

@media only screen 
and (min-width : 270px) {
  .flip {
    width: 22%;
    height: 50px;
  }
}

@media only screen 
and (min-width : 360px) {
  .flip {
    width: 18%;
    height: 60px;
  }
}

@media only screen 
and (min-width : 650px) {
  .flip {
    width: 15%;
    height: 60px;
  }
}
.container {
  /*width: 740px;*/
  width: 100%;
}

.number {
	padding:0.7em;
	margin:0.1em;
}

#numeros {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
/*.sumaNumber {
	color : #FF6961;
}*/

.select {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

#juego {
  max-width: 465px;
  min-height: 480px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 20px auto;
  padding: 50px 30px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  /*float: left;*/
}

#juego li {
	list-style: none;
	display:inline;
}

#juego ul {
	padding: 0;
}

#ranking {
  width: 300px;
  height: 450px;
  margin: 10px 10px;
  padding: 20px 15px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  text-align: center;
  z-index: 10;
}
#conectF {
  width: 300px;
  height: 110px;
  margin: 20px 10px 0;
  padding: 20px 15px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  text-align: center;
  z-index: 10;
}

#ranking li {
  list-style: none;
}

#resetear {
  margin:5%;
}

#contenedorPuestos {
    height: 380px;
    overflow-y: scroll;
    width: 100%;
}

#puestos {
    border-radius: 5px;
    color: #FFFFFF;
    height: 450px;
}

#puestos li {
    background-color: #FF7F50;
    border-radius: 8px;
    font-family: arial;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.4;
    margin: 3% 1%;
}

#puestos span {
  font-weight: bold;
  font-size: 1.3em;
  margin: 5%;
}

#puntos, #multiplicador {
  font-size: 2em;
  color: #fff;
  font-weight: bold;
}

#contenedorPuntaje {
  background-color: #AEC9FF;
  width: 30%;
  height: 45px;
  margin-bottom: 20px;
  float: right;
  border-radius: 10px;
  box-shadow: 2px -2px 0px rgba(0,0,0,.1), inset -5px -10px rgba(0,0,0,.02);
}

#contenedorMultiplicador {
  background-color: #FFAEEF;
  width: 20%;
  height: 45px;
  margin-bottom: 20px;
  float: left;
  border-radius: 10px;
  box-shadow: 2px -2px 0px rgba(0,0,0,.1), inset -5px -10px rgba(0,0,0,.02);
}

#juego h3 {
	margin-top: 0;
	padding-top: 0;
	font-size: 2em;
}

#jugar {
  position: absolute;
  top: 74%;
  left: 34%;
  width: 31%;
  z-index:11;
}
#compartir {
  position: absolute;
  top: 84%;
  left: 34%;
  width: 31%;
  z-index:11;
}

.flip {
  -webkit-perspective: 800;
  perspective: 800;

  position: relative;
  margin: 3px;
  float: left;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  backface-visibility: hidden ;
  z-index: 2;
  border-radius: 20px;

}

@-webkit-keyframes bobble {
  33% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  66% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
}

@keyframes bobble {
  33% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  66% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
}

.flip .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  -webkit-animation: bobble 5s ease-in-out infinite;
  animation: bobble 5s ease-in-out infinite;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: padding .3s, bottom .3s;
  transition: padding .3s, bottom .3s;
  box-shadow: 2px -2px 0px rgba(0,0,0,.1), inset -5px -10px rgba(0,0,0,.08);
}
.flip .card .back {
  -webkit-transform: rotatey(180deg);
  transform: rotatey(180deg);
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  padding: 6px;
  box-shadow: 2px -2px 0px rgba(0,0,0,.1), inset -5px -5px rgba(0,0,0,.08);
  color: #fff;
  font-weight: bold;
}

.but{
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  margin: 25px 13px;
  border-radius: 90%;
  line-height: 0;
  box-shadow: inset -3px -3px rgba(0,0,0,.4);
}
.butRight {
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  margin: 25px 26px;
  border-radius: 90%;
  line-height: 0;
  box-shadow: inset -3px -3px rgba(0,0,0,.4);
}
.mouth {
  display: block;
  width: 60%;
  height: 15px;
  margin: -15px auto 0;
  background: rgba(0,0,0,.9);
  border-radius: 50% 50%  15px 15px;
  -webkit-transition: border-radius .5s, height .5s cubic-bezier(.15,.60,.30,1.9);
  transition: border-radius .5s, height .5s cubic-bezier(.15,.60,.30,1.9);
  overflow: hidden;
  line-height: 0;
  -webkit-transform-origin: center top;
  transform-origin: center top;
}

.eye {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 10px;
  background: rgba(0,0,0,.9);
  border-radius: 10px;
  border-radius: 50%;
}

@-webkit-keyframes blink {
  90% {
    -webkit-transform: none;
    transform: none;
  }

  95% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}

@keyframes blink {
  90% {
    -webkit-transform: none;
    transform: none;
  }

  95% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}

.color1 {
    background-color: #B19CD9;
}
.color2 {
    background-color: #FFF000;
}
.color3 {
    background-color: #0DFD96;
}
.color4 {
    background-color: #AEC6CF;
}
.color5 {
    background-color: #FF6961;
}
.color6 {
    background-color: #F49AC2;
}
.color7 {
    background-color: #0ABAB5;
}
.color8 {
    background-color: #002366;
}
.color9 {
    background-color: #FF4040;
}
.color10 {
    background-color: #4B5320;
}
.color11 {
    background-color: #98FF98;
}
.color12 {
    background-color: #CFB53B;
}
.color13 {
    background-color: #EC3B83;
}
.color14 {
    background-color: #FFB347;
}
.color15 {
    background-color: #00BFFF;
}
.color16 {
    background-color: #8B0000;
}
.color17 {
    background-color: #FF044F;
}
.color18 {
    background-color: #600453;
}
.color19 {
    background-color: #B87333;
}
.color20 {
    background-color: #4CBB17;
}
.color21 {
    background-color: #C0C0C0;
}
.color22 {
    background-color: #00308F;
}
.color23 {
    background-color: #00FFEF;
}
.color24 {
    background-color: #A32638;
}
.color25 {
    background-color: #B2BEB5;
}
.color26 {
    background-color: #996515;
}
.color27 {
    background-color: #FF77FF;
}
.color28 {
    background-color: #779ECB;
}
.color29 {
    background-color: #FF4500;
}
.color30 {
    background-color: #FF007F;
}
.parpadeo6, .parpadeo15, .parpadeo18 {
  -webkit-animation: blink 4s ease-in-out infinite;
  animation: blink 4s ease-in-out infinite;
}
.parpadeo3, .parpadeo12, .parpadeo17, .parpadeo26 {
  -webkit-animation: blink 5.5s ease-in-out infinite;
  animation: blink 5.5s ease-in-out infinite;
}
.parpadeo5, .parpadeo7, .parpadeo21, .parpadeo25  {
  -webkit-animation: blink 5s ease-in-out infinite;
  animation: blink 5s ease-in-out infinite;
}
.parpadeo8, .parpadeo11, .parpadeo27, .parpadeo10 {
  -webkit-animation: blink 3s ease-in-out infinite;
  animation: blink 3s ease-in-out infinite;
}
.parpadeo13, .parpadeo22, .parpadeo28 {
  -webkit-animation: blink 2s ease-in-out infinite;
  animation: blink 2s ease-in-out infinite;
}
.parpadeo4, .parpadeo16, .parpadeo23, .parpadeo29  {
  -webkit-animation: blink 3.5s ease-in-out infinite;
  animation: blink 3.5s ease-in-out infinite;
}
.parpadeo2, .parpadeo19, .parpadeo30, .parpadeo1  {
  -webkit-animation: blink 4.5s ease-in-out infinite;
  animation: blink 4.5s ease-in-out infinite;
}
.parpadeo20, .parpadeo24, .parpadeo9, .parpadeo14 {
  -webkit-animation: blink 2.5s ease-in-out infinite;
  animation: blink 2.5s ease-in-out infinite;
}

#tutorial {
  background: url('../img/tuto.png');
  height: 154px;
  width: 213px;
  position: absolute;
  z-index: 9;
  left: 26%;
}

#tutorial p {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 70%;
}

#back {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.fb_iframe_widget {
  z-index: 10;
}

.col-sm-12, .col-sm-2 {
    padding: 0;
    width: 100%;
}

@media only screen 
and (min-width : 900px) {
  .container {
    width: 820px;
  }
  #juego {
    float: left;
    width: 500px;
  }
  #ranking,#conectF {
    float: left;
  }
}
#circularG{
position:relative;
width:30px;
height:30px;
margin: 0 auto;}

.circularG{
position:absolute;
background-color:#801580;
width:7px;
height:7px;
-moz-border-radius:5px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:5px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:5px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:5px;
-o-animation-name:bounce_circularG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:5px;
animation-name:bounce_circularG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
left:0;
top:12px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#circularG_2{
left:3px;
top:3px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#circularG_3{
top:0;
left:12px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#circularG_4{
right:3px;
top:3px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#circularG_5{
right:0;
top:12px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#circularG_6{
right:3px;
bottom:3px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#circularG_7{
left:12px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#circularG_8{
left:3px;
bottom:3px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}